@page "/in/kontaktai/darbuotojas/delete"
@attribute [CustomAuthorize(IntranetRights.KontaktaiAdmin)]
@inject LGT.Kontaktai.KontaktaiContext db
@using LGT.Kontaktai.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@code {
  private DateTime now = DateTime.Now;
  private bool Editable(DateTime? until)
  {
    return until == null || until > now;
  }
}
<PageTitle>Delete</PageTitle>
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>

<_Display id=@this.id Context="model">
  <EditForm method="post"
            Model="model"
            OnValidSubmit="@(() => DoDelete(model))"
            FormName="delete"
            Enhance
  >
    <button type="submit" class="btn btn-danger" disabled="@(model is null || !this.Editable(model.Until))">Delete</button> |
    <_BackToList />
  </EditForm>
</_Display>

@code {
  [SupplyParameterFromQuery]
  public int id { get; set; }
  public async Task DoDelete(LGT.Kontaktai.Models.Darbuotojas model)
  {
    db.Set<Darbuotojas>().Remove(model!);
    await db.SaveChangesAsync();
    NavigationManager.NavigateTo(_BackToList.Path);
  }
}
