@page "/in/kontaktai/Darbuotojas/edit"
@rendermode InteractiveServer
@inject LGT.Kontaktai.KontaktaiContext db
@using LGT.Kontaktai.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Darbuotojas</h4>
<hr />
@if (model is null)
{
  <p><em>Loading...</em></p>
}
else
{
  <div class="row">
    <div class="col">
      <_Bind model=@this.model OnValidSubmit=@DoUpdate IsEdit=true IsCreate=false />
    </div>
  </div>
}

<div>
  <_BackToList />
</div>

@code {
  [SupplyParameterFromQuery]
  public int Id { get; set; }

  [SupplyParameterFromForm]
  public Darbuotojas? model { get; set; }

  protected override async Task OnInitializedAsync()
  {
    model ??= await db.Set<Darbuotojas>()
      .Include(item => item.Darboviete)
      .Include(item => item.Padalinys)
      .Include(item => item.Etatas).ThenInclude(item => item.Name)
      .FirstOrDefaultAsync(m => m.Id == Id);

    if (model is null)
    {
      NavigationManager.NavigateTo("notfound");
    }
  }

  // To protect from overposting attacks, enable the specific properties you want to bind to.
  // For more details, see https://aka.ms/RazorPagesCRUD.
  public async Task DoUpdate()
  {
    db.Attach(model!).State = EntityState.Modified;

    try
    {
      await db.SaveChangesAsync();
    }
    catch (DbUpdateConcurrencyException)
    {
      if (!DarbuotojasExists(model!.Id))
      {
        NavigationManager.NavigateTo("notfound");
      }
      else
      {
        throw;
      }
    }

    NavigationManager.NavigateTo(_BackToList.Path);
  }

  bool DarbuotojasExists(int id)
  {
    return db.Set<Darbuotojas>().Any(e => e.Id == id);
  }
}
