@page "/in/kontaktai/padalinys/create"
@rendermode InteractiveServer
@inject LGT.Kontaktai.KontaktaiContext db
@using LGT.Incidentai.Models
@using LGT.Kontaktai.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4><_ /></h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <_Bind model=@this.model OnValidSubmit=@this.DoAdd IsEdit=false IsCreate=true />
  </div>
</div>

<div>
  <_BackToList />
</div>

@code {
  [SupplyParameterFromQuery] public string? DarbovieteId { get; set; }
  [SupplyParameterFromForm]
  public LGT.Kontaktai.Models.Padalinys model { get; set; } = new();
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
    if (this.DarbovieteId != null)
    {
      this.model.Darboviete = await db.Set<Darboviete>().FirstOrDefaultAsync(item => item.Id == this.DarbovieteId);
    }
  }
  // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
  public async Task DoAdd()
  {
    db.Set<LGT.Kontaktai.Models.Padalinys>().Add(model);
    await db.SaveChangesAsync();
    NavigationManager.NavigateTo(_BackToList.Path);
  }
}
