@attribute [CustomAuthorize(AdminRights.All)]
@page "/in/admin"
<h3>Administravimas</h3>
<FlexAuthorizeView Val=@(AdminRights.EditUsers)>
  <Authorized>
    <div>
      <a href="/in/admin/users">Vartotojai</a>
    </div>
  </Authorized>
</FlexAuthorizeView>
<FlexAuthorizeView Val=@(AdminRights.Incidentai)>
  <Authorized>
    <div>
      <a href="/in/internals">Incidentai</a>
      <a href="/in/incidentai">Incidentai2</a>
    </div>

  </Authorized>
</FlexAuthorizeView>
