@code {
  private string? darbovieteID{ get; set; }
}
@inject LGT.Internals.Database db

<ChooseDarboviete @bind-id=@darbovieteID />
@if(darbovieteID != null){
  <ExpList ParamSource=@(
    db.Set<Darbuotojas>()
      .Where(darbuot => darbuot.DarbovieteID == this.darbovieteID)
      .Select(darbuot => new {
        darbuot.ID,
        darbuot.Name,
        Asmuo = darbuot.AsmuoID == null ? null : new {
          ID = darbuot.AsmuoID,
          Name = darbuot.Asmuo.FullName
        }
      })
  )>
    <Wrapper Context="rows">
      <table class="bord">
        <tr>
          <td>Pareigybė</td>
          <td>Asmuo</td>
        </tr>
        @rows
      </table>
    </Wrapper>
    <IfSome Context="darbuot">
      <tr>
        <td>
          <Name ParamName=@darbuot.Name />
        </td>
        <td>
          @if(darbuot.Asmuo != null){
            <Name ParamName=@darbuot.Asmuo.Name />
          }
          else
          {
            <text>-</text>
          }
        </td>
      </tr>
    </IfSome>
  </ExpList>
}