@code {
  [EditorRequired]
  [Parameter] public RenderFragment ChildContent { get; set; } = default!;
  [Parameter] public int? ParamID { get; set; }
}

@if(ParamID == null){}
else {
  <a href="/in/gis/telkinys/@ParamID">
    @ChildContent
  </a>
}
