@attribute [CustomAuthorize(AdminRightsEnum.All)]
@page "/in/admin"
@namespace LGT.Web.Areas.In.Auth
@code {
}
<h3>Administravimas</h3>
<FlexAuthorizeView Val=@(AdminRightsEnum.EditUsers)>
  <Authorized>
    <div>
      <a href="/in/admin/users">Vartotojai</a>
    </div>
  </Authorized>
</FlexAuthorizeView>
<FlexAuthorizeView Val=@(AdminRightsEnum.Incidentai)>
  <Authorized>
    <div>
      <a href="/in/internals">Incidentai</a>
    </div>
  </Authorized>
</FlexAuthorizeView>
