@page "/in/kontaktai/etatasname/details"
@inject LGT.Kontaktai.KontaktaiContext db
@using LGT.Incidentai.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
  <h4><_ /></h4>
  <hr />
  @if (model is null)
  {
    <p><em>Loading...</em></p>
  }
  else
  {
    <_Display model=@model />
    <div>
      <a href="@($"/in/kontaktai/etatasname/edit?id={model.Id}")">Edit</a> |
      <a href="@($"/in/kontaktai/etatasname/delete?id={model.Id}")">Delete</a> |
      <_BackToList />
    </div>
  }
</div>

@code {
  LGT.Kontaktai.Models.EtatasName? model;

  [SupplyParameterFromQuery]
  public string id { get; set; }

  protected override async Task OnInitializedAsync()
  {
    model = await db.Set<LGT.Kontaktai.Models.EtatasName>().FirstOrDefaultAsync(m => m.Id == id);

    if (model is null)
    {
      NavigationManager.NavigateTo("notfound");
    }
  }
}
