@using LGT.Intranet.Models
@inherits Create<Group>
@inject LGT.Intranet.IntranetContext db
@if (this.EditContext != null && this.model != null)
{
  <EditForm EditContext="@this.EditContext">
    <DataAnnotationsValidator />
    <div class="form-group">
      <label for="isPublic">Paskelbtas</label>
      <InputCheckbox @bind-Value=@this.model.IsPublic />
      <ValidationMessage For=@(() => this.model.IsPublic) />
    </div>
    <div class="form-group">
      <label for="name">Name </label>
      <InputText Id="name" class="form-control" @bind-Value="@model.Name" ></InputText>
      <ValidationMessage For="@(() => model.Name)" />
    </div>
    <div class="form-group">
      <label for="index">Index</label>
      <InputNumber @bind-Value=@this.model.Index />
      <ValidationMessage For=@(() => model.Index) />
    </div>
    <p>
      <button type="submit">Patikrinti</button>
      <CreateButton Model=@EditContext.Model callbackOnCreate=this.OnCreate/>
    </p>
  </EditForm>
}
