@inherits CreatorClass<LGT.Intranet.Models.Group>
@code 
{
  [Parameter] public int? ParamColumnID { get; set; }
  [Parameter] public int? ParamIndex { get; set; }
  protected override bool HasRequiredData(){
    if (ParamColumnID == null)
      return false;
    if(ParamIndex == null){
      return false;
    }
    return true;
  }
  protected override LGT.Intranet.Models.Group? ConstructCore()
  {
    if (!HasRequiredData())
      return null;
    return new()
      {
        ColumnId = this.ParamColumnID!.Value,
        Index = this.ParamIndex!.Value,
        Name = "",
        IsPublic = true
      };
  }
}

@inject LGT.Intranet.IntranetContext db
@if(this.HasRequiredData()){
  <button @onclick=@(async () => await this.Create(db))>
    @(this.ParamButtonText ?? "Sukurti stulpelį")
  </button>
}
