@inherits Editor_<LGT.Intranet.Models.Link, LGT.Intranet.IntranetContext>
@if (this.self == null)
{
  <h3>Nuoroda nerasta</h3>
}
else
{
  <div>
    <EditForm Model=@this.self>
      <table>
        <tr>
          <td>Paskelbtas</td>
          <td><InputCheckbox @bind-Value=@this.self.IsPublic /></td>
        </tr>
        <tr>
          <td>Index</td>
          <td><InputNumber @bind-Value=@this.self.Index /></td>
        </tr>
        <tr>
          <td>Pavadinimas</td>
          <td><InputText class="w-100" @bind-Value=@this.self.Name /></td>
        </tr>
        <tr>
          <td>Aprašymas</td>
          <td><InputText class="w-100" @bind-Value=@this.self.Comment /></td>
        </tr>
        <tr>
          <td>
            <a href=@this.self.Url target="_blank">Nuoroda</a>
          </td>
          <td class="w-100"><InputText  class="w-100" @bind-Value=@this.self.Url /></td>
        </tr>
        <tr>
          <td>Su spyna</td>
          <td><InputCheckbox @bind-Value=@this.self.IsLocked /></td>
        </tr>
          <tr>
            <td>Atsidaro naujame lange</td>
            <td><InputCheckbox @bind-Value=@this.self.IsTargetBlank /></td>
          </tr>
      </table>
    </EditForm>
    <br/>
    <button class="btn-primary" @onclick=@this.HandleSave>Išsaugoti pakeitimus</button>
  </div>
}
