@inherits Editor_<LGT.Intranet.Models.Group, LGT.Intranet.IntranetContext>
@if (this.self == null)
{
  <h3>Grupė nerasta</h3>
}
else
{
  <div>
    <EditForm Model=@this.self>
      <DataAnnotationsValidator/>
      <ValidationSummary/>
      <table>
        <tr>
          <td>Paskelbtas</td>
          <td><InputCheckbox @bind-Value=@this.self.IsPublic /></td>
        </tr>
        <tr>
          <td>Index</td>
          <td><InputNumber @bind-Value=@this.self.Index /></td>
        </tr>
        <tr>
          <td>Pavadinimas</td>
          <td>
            <InputText @bind-Value=@this.self.Name />
          </td>
        </tr>
      </table>
      <button class="btn-primary" @onclick=@this.HandleSave>Išsaugoti pakeitimus</button>
    </EditForm>
  </div>
}
