@attribute [CustomAuthorize(GISEnum.All)]
@page "/in/gis"
<h3>Geologija</h3>
<FlexAuthorizeView Val=@GISEnum.Telkiniai>
  <Authorized>
    <div>
      <a href="/in/gis/telk">Telkiniai</a>
    </div>
  </Authorized>
</FlexAuthorizeView>

<FlexAuthorizeView Val=@GISEnum.Greziniai>
  <Authorized>
    <div>
      <a href="/in/gis/grezinys">Gręžiniai</a>
    </div>
  </Authorized>
</FlexAuthorizeView>
