@attribute [CustomAuthorize(GISEnum.Greziniai)]
@page "/in/gis/grezinys/"
@inject LGT.Data.GeolisContext db
@code {
  private string? searchString { get; set; }
  private bool Search { get; set; }
  private int? id { get; set; }
}
<h3>Gręžiniai</h3>
<div>
  <LGT.Web.Shared.Inputs.BindInteger @bind-value=@id />
  @if (id != null)
  {
    <a href="/in/gis/grezinys/@id">@id</a>
  }
  <a href="/in/gis/grezinys/legalizavimas">legalizavimo statistika</a>
</div>
