@page "/in/gis/istekliuplotas/{ParamID:int}"
@code {
  [Parameter] public int ParamID { get; set; }
  private IQueryable<Core.Geoldba.GIS_ISTEKLIU_PLOTAI> self => this.db.IstekliuPlotai.Where(item => item.ID == this.ParamID);
}
@inject Data.Context db
<ExpList
  ParamSource=@(self.Select(ist => new {
    ist.ID,
    Telkinys = new { 
      ID = ist.TelkinysID, 
      Name = ist.Telkinys.Name,
    },
    TelkinioSluoksnis = new {
      ID = ist.GrafikosTipasID
    }
  }))
>
  <IfSome Context="istPlotas">
    <h3>Išteklių plotas @istPlotas.ID</h3>
    <table class="bord">
      <tr>
        <td>Telkinys</td>
        <td>
          <a href="/in/gis/telkinys/@istPlotas.Telkinys.ID">@istPlotas.Telkinys.Name</a>
        </td>
      </tr>
      <tr>
        <td>Telkinio sluoksnis</td>
        <td>
          <a href="/in/gis/telkiniosluoksnis/@istPlotas.TelkinioSluoksnis.ID">@istPlotas.TelkinioSluoksnis.ID</a>
        </td>
      </tr>
    </table>
  </IfSome>
</ExpList>