@page "/in/gis/telkinys/{telkinysID:int}/{ParamJARKodas}"
@code {
  [Parameter] public int telkinysID { get; set; }
  [Parameter] public string ParamJARKodas { get; set; } = "300556427";
}
@inject Data.Context db
<table class="bord">
  <tr>
    <td>Telkinys (ID)</td>
    <td>
      <a href="/in/gis/telkinys/@telkinysID">@telkinysID</a>
    </td>
  </tr>
  <tr><td>Juridinis asmuo (JARKodas)</td>
    <td>
      @ParamJARKodas
      <div>
        <ExpList ParamText="Visi" ParamIsExpandable=true ParamIsExpanded ="false"
                 ParamSource=@(db.JuridiniaiAsmenys
            .Where(item => item.JARKodas == ParamJARKodas)
            .Select(item => new {
              item.ID, Name = item.Name1
            })
          )
        >
          <Wrapper Context="rows"><ul>@rows</ul></Wrapper>
          <IfSome Context="asm">
            <li>
              <a href="/in/gis/juridinisasmuo/@asm.ID">@asm.Name</a>
            </li>
          </IfSome>
        </ExpList>
      </div>
    </td>
  </tr>
</table>
<hr/>
<LGT.Web.Areas.In.Gis.Shared.KETVs 
  ParamFilter=@(item =>
    item.GavybosSklypas.ZGRLGavybosObjektai.Any(item => item.Sutartis.Leidimas.Kam_JuridinisAsmuoID != null && item.Sutartis.Leidimas.Kam_JuridinisAsmuo!.JARKodas == this.ParamJARKodas)
    &&
    item.TelkinioSluoksnis.TelkinysID == this.telkinysID
  )
>
</LGT.Web.Areas.In.Gis.Shared.KETVs>