@attribute [CustomAuthorize(GISRights.All)]
@page "/in/gis/telk"
@rendermode InteractiveServer
@inject Geolis.GeolisContext db2
@code {
  private string? searchString{ get; set; }
  private string? searchString2{ get; set; }
  private bool Search{ get; set; }
  private IEnumerable<string> chosenKeys => this.choosings
    .Where(item => item.Chosen)
    .Select(item => item.Key);
}
<h3>Telkiniai</h3>
<div>
  <input type="text" @bind-value=@this.searchString placeholder="Pavadinimo dalis" />
  <button @onclick=@(() => { 
    this.searchString2 = this.searchString?.ToLower();
  })>Ieškoti</button>
</div>
<div>
  @if(!string.IsNullOrEmpty(searchString2) && this.chosenKeys.Any()){
    
    <ExpList ParamSource=@(db2.Telkiniai
      .Where(telk =>
        telk.Name.ToLower().Contains(searchString2) &&
        telk.GIS_ISTEKLIU_PLOTAI!.Any(item => this.chosenKeys.Contains(item.GrafikosTipasId))
      )
      .OrderBy(item => item.Name).Select(item => new { item.ID, item.Name }))>
      <Wrapper Context="rows">
        <table class="bord">
          <tr>
            <td>Telkinio kodas</td>
            <td>Pavadnimas</td>
          </tr>
          @rows
        </table>
      </Wrapper>
      <IfSome Context="telkinys">
        <tr>
          <td>@telkinys.ID</td>
          <td>
            <a href="/in/gis/telkinys/@telkinys.ID">
              @telkinys.Name
            </a>
          </td>
          
        </tr>
      </IfSome>
      <IfNone>
        Nieko nerasta
      </IfNone>
    </ExpList>
  } else {
    <text>
      Paieškai neužtenka duomenų
    </text>
  }
</div>


@code {
  class KeyChoosing
  {
    public string Key { get; set; }
    public bool Chosen { get; set; } = false;
  }
  private List<KeyChoosing> choosings = new()
  {
    new KeyChoosing() { Key = "KIETOSIOS", Chosen = true },
    new KeyChoosing() { Key = "ORGANOGEN", Chosen = true },
    new KeyChoosing() { Key = "RIBA_P", Chosen = false },
    new KeyChoosing() { Key = "RIBA_Dž", Chosen = false },
    new KeyChoosing() { Key = "RIBOS", Chosen = false },
    new KeyChoosing() { Key = "RIBA_Pž", Chosen = false },
  };
}
