@attribute [AllowAnonymous]
@page "/in"
@layout MainLayout
@inject Data.IntranetContext db
@namespace LGT.Web.Areas.In
<AuthorizeView>
  <Authorized Context=authState>
    @if (!authState.User.Claims.Any(
     item => new string[] { AuthPolicy.Info.Prefix, IntranetPolicy.Info.Prefix, GISPolicy.Info.Prefix }.Contains(item.Type)
    )){
      <p>
        Jums nesuteiktos jokios teisės. Dėl teisių suteikimo kreipkitės į informacijos valdymo skyrių.
      </p>
    }
  </Authorized>
  <NotAuthorized>
    Ši puslapio dalis skirta prisijungusiems vartotojams.
  </NotAuthorized>
</AuthorizeView>
<div class="row">
  <FlexAuthorizeView Val=@AdminRightsEnum.All>
    <Authorized>
      <div class="col">
        <LGT.Web.Areas.In.Auth._ />
      </div>
    </Authorized>
  </FlexAuthorizeView>
  <FlexAuthorizeView Val=@IntranetEnum.All>
    <Authorized>
      <div class="col">
        <LGT.Web.Areas.In.Intranet.Pages._ />
      </div>
    </Authorized>
  </FlexAuthorizeView>
  <FlexAuthorizeView Val=@GISEnum.All> 
    <Authorized>
      <div class="col">
        <LGT.Web.Areas.In.Gis.Pages._ />
      </div>
    </Authorized>
  </FlexAuthorizeView>
</div>