@attribute [CustomAuthorize(IntranetEnum.MessagesEdit)]
@page "/in/intranet/messages"

@code {
  private int? EditingID { get; set; }
  private void Select(int messageID){
    if(this.EditingID == messageID){
      this.EditingID = null;
      return;
    }
    this.EditingID = messageID;
  }
}
@inject Data.IntranetContext db
<div>
  <div class="row">
    <div class="col">
      <ExpList
        ParamSource=@(db.Messages.Where(item => true)
          .OrderByDescending(item => item.ID)
          .AsNoTracking()
          .Select(item => new {
            item.ID,
            Name = item.Header,
            Strike = !item.IsPublic
          })
        )
        >
        <Wrapper Context="rows"><ul>@rows</ul></Wrapper>
        <IfSome Context="message">
          <li @onclick=@(() => Select(message.ID))>
            <NameComponent 
              ParamStrike=@message.Strike 
              ParamName=@message.Name 
              ParamIsSelected=@(this.EditingID==message.ID) 
            />
          </li>
        </IfSome>
        <IfNone>
          Žinučių nerasta
        </IfNone>
      </ExpList>
    </div>
    <div class="col">
      <MessageTabs ParamID=@this.EditingID callback=this.StateHasChanged />
    </div>
  </div>
</div>