@attribute [CustomAuthorize(IntranetEnum.PagesEdit)]
@page "/in/intranet/pages"
@inject Data.IntranetContext db
<div class="row">
  <div class="col">
    <ExpList
      ParamSource=@(db.Pages.Where(item => true).OrderBy(item => item.ID).AsNoTracking()
        .Select((LGT.Core.Intranet.Page item) => new {
          item.ID,
          item.Name,
          item.Key
        })
      )
    >
      <Wrapper Context="rows">
        <ol>@rows</ol>
      </Wrapper>
      <IfSome Context="item">
        <li value=@item.ID>
          <LGT.Web.Areas.In.Auth.Shared.AdminPageLink ParamID=@item.ID ParamName=@item.Name /> @item.Key
        </li>
      </IfSome>
      <IfNone>
        <div>
          Puslapių nerasta.
        </div>
      </IfNone>
    </ExpList>
  </div>
  <div class="col">
    <LGT.Web.Areas.In.Intranet.Shared.Create_Page ParamButtonText="Sukurti naują puslapį" CallbackOnCreate=this.StateHasChanged />
  </div>
</div>