@inherits Editor_<int, LGT.Core.Intranet.Message, Data.IntranetContext>
@if (this.self == null)
{
  <span>Žinutė nerasta</span>
}
else
{
  <Bind_Message @bind-value=@this.self 
    CallbackOnValidSubmit=@(async () => await this.HandleSave())
    ParamButtonText="Išsaugoti pakeitimus"
  />
}