@inherits Editor_<int, LGT.Core.Intranet.Column, Data.IntranetContext>
@if (this.self == null)
{
  <h3>Stulpelis nerastas</h3>
}
else
{
  <div>
    <div>
      <EditForm Model="this.self" OnValidSubmit=@this.HandleSave>
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <table>
          <tr>
            <td>Index</td>
            <td>
              <InputNumber @bind-Value=@this.self.Index />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center"><b>Stulpelio plotis</b></td>
          </tr>
          <tr>
            <td>Default</td>
            <td><InputNumber @bind-Value=@this.self.Sizes.Default placeholder="nenustatyta" /></td>
          </tr>
          <tr>
            <td>LG</td>
            <td><InputNumber @bind-Value=@this.self.Sizes.LG placeholder="nenustatyta" /></td>
          </tr>
          <tr>
            <td>MD</td>
            <td><InputNumber @bind-Value=@this.self.Sizes.MD placeholder="nenustatyta" /></td>
          </tr>
          <tr>
            <td>SM</td>
            <td><InputNumber @bind-Value=@this.self.Sizes.SM placeholder="nenustatyta" /></td>
          </tr>
          <tr>
            <td>XS</td>
            <td><InputNumber @bind-Value=@this.self.Sizes.XS placeholder="nenustatyta" /></td>
          </tr>
        </table>
        <button class="btn-primary" @onclick=@this.HandleSave>Išsaugoti pakeitimus</button>
      </EditForm>
    </div>
  </div>
}