@inherits LayoutComponentBase
@inject NavigationManager NavManager
<PageTitle>LGT Intranet</PageTitle>
@inject LGT.Intranet.IntranetContext db
<div class="main small">
  <div class="content px-4" style="min-height: 400px;">
    @Body
	</div>
</div>
<div class="footer px-4 small">
  <hr/>
	<div class="row">
		<div class="col">
			@* <a href="/in">Administravimas</a> *@
		</div>
		<div class="col">
			@if (NavManager.Uri == NavManager.BaseUri)
			{
				<a href="/p/2">Informacinė sistema</a>
			}
			else
			{
				<a href="/">Intranet</a>
			}
		</div>
		<div class="col">
			© <a href="https://lgt.lrv.lt/" target="_blank">Lietuvos geologijos tarnyba</a>
		</div>
	</div>
</div>
