@code {
  [Parameter] public string? ParamStyle { get; set; }
  [Parameter] public string[]? ParamValues { get; set; }
  [Parameter] public string? value { get; set; }
  [Parameter] public EventCallback<string?> valueChanged { get; set; }
}
@if (this.ParamValues != null)
{
  <select @bind=@this.value  @oninput=@(async (ChangeEventArgs ev) => {
    string? val = ev.Value?.ToString();
    if(string.IsNullOrEmpty(val)){
      this.value = null;
    } else {
      this.value = val;
    }
    await this.valueChanged.InvokeAsync(this.value);
  }) style=@this.ParamStyle>
    @foreach (var value in this.ParamValues.Distinct())
    {
      <option value="@value">@value</option>
    }
  </select>
}