body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.page-container {
  
  background-color: white;
  width: 210mm; /* A4 width */
  min-height: 267mm; /* A4.Height-50mm, jei margin būtų papildomas iš kur*/
  padding-left: 20px; /* Adjust as needed */
  padding-right: 20px;
  padding-top: 20px;
  
}
