@page "/in/internals/informaciniaiistekliai"
@inject LGT.Internals.Database db
@using LGT.Web.Areas.Internals.In.Shared
@code {
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
    this.list = await this.db.InformaciniaiIstekliai
      .Include(item => item.Darboviete)
      .Include(item => item.Children)
      .ToListAsync()
    ;
  }
  private List<LGT.Internals.Models.Incidents.InformacinisIsteklius> list;
}

@foreach (var gr in list.Where(item => item.ParentID == null).GroupBy(item => item.DarbovieteID))
{
  <h3>@gr.First().Darboviete.Name</h3>
  <ul>
  
    @foreach(var top in gr){
      <IstekliaiChildren ParamItem=@top />
    }
  </ul>
}