@code {
  [Parameter] public LGT.Internals.Models.Incidents.InformacinisIsteklius ParamItem{ get; set; }
}
<li>
  @ParamItem.Name
  @if(ParamItem.Children?.Any() == true){
    <ul>
      @foreach(var child in ParamItem.Children){
        <IstekliaiChildren ParamItem=@child />
      }
    </ul>
  }
</li>