@code {
  [Parameter] public int? id { get; set; }
  [Parameter] public EventCallback<int?> idChanged { get; set; }

  [Parameter] public LGT.Incidentai.Models.Incidentas? value { get; set; }
  [Parameter] public EventCallback<LGT.Incidentai.Models.Incidentas?> valueChanged { get; set; }
}
@inject LGT.Intranet.Internal.InternalContext db
@if (this.id == null && this.value == null)
{
  <ExpList ParamSource=@(
    db.Set<Incidentas>()
      .OrderByDescending(item => item.Since)
  )>
    <Wrapper Context="rows">
      <ul>@rows</ul>
    </Wrapper>
    <IfSome Context="asm">
      <li>
        <ActionButton onclick=@(async () => await Choose(asm))>
          @asm.Desc
        </ActionButton>
      </li>
    </IfSome>
    <IfNone>-</IfNone>
  </ExpList>
}
else
{
  <ActionButton onclick=@Unchoose>
    <Name ParamName=@name />
  </ActionButton>
}

@code {
  private string? name { get; set; }
  private async Task Unchoose()
  {
    await this.idChanged.InvokeAsync(null);
    this.name = null;
  }
  private async Task Choose(LGT.Incidentai.Models.Incidentas val)
  {
    await this.idChanged.InvokeAsync(val.ID);
    await this.valueChanged.InvokeAsync(val);
    this.name = val.Desc;
  }
}
