@code {
  [Parameter] public int? id { get; set; }
  [Parameter] public EventCallback<int?> idChanged { get; set; }
}
@inject LGT.Intranet.Internal.InternalContext db
@if (this.id == null)
{
  <ExpList ParamSource=@(
    db.Set<IncidentoPozymis>()
      .Select(item => new {item.ID, Name = item.Name })
  )>
    <Wrapper Context="rows">
      <ul>@rows</ul>
    </Wrapper>
    <IfSome Context="poz">
      <li>
        <ActionButton onclick=@(async () => await Choose(poz.ID, poz.Name))>
          @poz.Name
        </ActionButton>
      </li>
    </IfSome>
    <IfNone>-</IfNone>
  </ExpList>
}
else
{
  <ActionButton onclick=@Unchoose>
    <Name ParamName=@name />
  </ActionButton>
}

@code {
  private string? name { get; set; }
  private async Task Unchoose()
  {
    await this.idChanged.InvokeAsync(null);
    this.name = null;
  }
  private async Task Choose(int id, string name)
  {
    await this.idChanged.InvokeAsync(id);
    this.name = name;
  }
}
