@code {
  [Parameter] public int? id { get; set; }
  [Parameter] public EventCallback<int?> idChanged { get; set; }

  [Parameter] public LGT.Incidentai.Models.Kreipinys? value { get; set; }
  [Parameter] public EventCallback<LGT.Incidentai.Models.Kreipinys?> valueChanged { get; set; }

  [Parameter] public string? ParamAptarnaujantiImoneID { get; set; }
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
    if(this.chosenAptarnaujantiImoneID == null)
    {
      this.chosenAptarnaujantiImoneID = ParamAptarnaujantiImoneID;  
    }
  }
}
@inject LGT.Intranet.Internal.InternalContext db
@if(this.ParamAptarnaujantiImoneID == null)
{
  <ChooseAptarnaujantiImone
    id=@chosenAptarnaujantiImoneID
    idChanged=@(async (val) => {
      chosenAptarnaujantiImoneID = val;
      await Unchoose();
    })
  />
}
@if (this.id == null && this.value == null)
{
  @if (chosenAptarnaujantiImoneID != null)
  {
    <ExpList ParamSource=@(
      db.Set<Kreipinys>()
        .Where(item => item.AptarnaujantiImoneID == chosenAptarnaujantiImoneID)
        .OrderByDescending(item => item.Since).ThenByDescending(item => item.CreatedAt)
      )>
      <Wrapper Context="rows">
        <ul>@rows</ul>
      </Wrapper>
      <IfSome Context="kreipinys">
        <li>
          <ActionButton onclick=@(async () => await Choose(kreipinys))>
            <Name ParamName=@kreipinys.UName />
          </ActionButton>
        </li>
      </IfSome>
      <IfNone>
        <div class="text-danger">darbovietė neturi darbuotojų</div>
      </IfNone>
    </ExpList>
  }
}
else
{
  <text>&raquo;</text>
  <ActionButton onclick=@(async () => await Unchoose())>
    <Name ParamName=@(this.chosenName) />
  </ActionButton>
}
@code {
  private string? chosenName;
  private string? chosenAptarnaujantiImoneID;
  private async Task Choose(LGT.Incidentai.Models.Kreipinys val)
  {
    await this.idChanged.InvokeAsync(id);
    await this.valueChanged.InvokeAsync(val);
    this.chosenName = val.UName ?? $"kreipinys ID={id}";
  }
  private async Task Unchoose()
  {
    if (id != null)
    {
      await this.idChanged.InvokeAsync(null);
    }
    if(value != null)
    {
      await this.valueChanged.InvokeAsync(null);
    }
    this.chosenName = null;
  }
}
