@code {
  [Parameter] public int? id { get; set; }
  [Parameter] public EventCallback<int?> idChanged { get; set; }

  [Parameter] public LGT.Incidentai.Models.Kontaktai.Darbuotojas? value { get; set; }
  [Parameter] public EventCallback<LGT.Incidentai.Models.Kontaktai.Darbuotojas?> valueChanged { get; set; }

  [Parameter] public string? DarbovieteID { get; set; }
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
    if (this.chosenDarbovieteID == null)
    {
      this.chosenDarbovieteID = DarbovieteID;
    }
  }
}
@inject LGT.Intranet.Internal.InternalContext db
@if(DarbovieteID == null){
  <ChooseDarboviete 
    id=@chosenDarbovieteID
    idChanged=@(async (val) => {
      chosenDarbovieteID = val;
      await Unchoose();
    })
    ParamExtraFilter=@(darboviete => darboviete.DarbuotojasAssignments!.Any())
  />
}
@if (this.id == null && this.value == null)
{
  @if (chosenDarbovieteID != null)
  {
    <ExpList ParamSource=@(
      db.Set<LGT.Incidentai.Models.Kontaktai.Darbuotojas>().Where(item => item.DarbovieteID == chosenDarbovieteID)
        .Include(item => item.Asmuo)
    )>
      <Wrapper Context="rows">
        <ul>@rows</ul>
      </Wrapper>
      <IfSome Context="td">
        <li>
          <ActionButton onclick=@(async () => await Choose(td))>
            <Name ParamName=@td.Name />
            @if(td.Asmuo != null)
            {
              <text> (@td.Asmuo.FullName)</text>
            }
          </ActionButton>
        </li>
      </IfSome>
      <IfNone>
        <div class="text-danger">darbovietė neturi darbuotojų</div>
      </IfNone>
    </ExpList>
  }
}
else
{
  <text>&raquo;</text>
  <ActionButton onclick=@(async () => await Unchoose())>
    <Name ParamName=@(this.chosenName) />
  </ActionButton>
}
@code {
  private string? chosenName;
  private string? chosenDarbovieteID;
  private async Task Choose(LGT.Incidentai.Models.Kontaktai.Darbuotojas val)
  {
    await this.idChanged.InvokeAsync(val.ID);
    await this.valueChanged.InvokeAsync(val);
    this.chosenName = $"{val.Name}" + (val.Asmuo == null ? null : $"({val.Asmuo!.FullName})");
  }
  private async Task Unchoose()
  {
    if(id != null)
    {
      await this.idChanged.InvokeAsync(null);
    }
    if(value != null)
    {
      await this.valueChanged.InvokeAsync(null);
    }
    this.chosenName = null;
  }
}
