@code {
  private bool A { get; set; } = true;
}
<label>
  <input type="checkbox" checked=@A @bind-value=@A />
  rodyti tik nesutvarkytus
</label>
@inject LGT.Intranet.Internal.InternalContext db
<ExpList ParamSource=@(
  db.Set<Skundas>()
    .Where(item => this.A == false || (item.IncidentasID == null || ( item.DarbuotojasID == null && item.AsmuoID == null )))
    .Select(sknd => new {
      sknd.ID,
      sknd.Asmuo_FreeForm,
      sknd.Markdown,
      sknd.CreatedAt
      
    })
)>
  <Wrapper Context="rows">
    <table class="bord w-100">
      @rows
    </table>
  </Wrapper>
  <IfSome Context="sknd">
    <tr>
      <td>
        @sknd
      </td>
    </tr>
  </IfSome>
</ExpList>